html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-button {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.first,
.second,
.third,
.fourth {
  display: none;
}

.divider {
  background-color: black;
  padding: 0;
  margin: 0;
  font-size: 3vw;
  text-align: center;
  color: white;
  font-style: italic;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 3vw;
  background-color: rgba(255, 255, 255, 0);

  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  z-index: 2;
  position: absolute;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 0.75vw;
  background-color: rgba(255, 255, 255, 0);

  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: absolute;

  opacity: 0.5;

  margin-top: 30vh;
}

.glow {
  position: absolute;
  width: 15vw;
  height: 15vw;
  font-size: 0.5rem;
  margin: 1em;
  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(black), linear-gradient(#ffff, #fff1);
  background-origin: border-box;
  background-clip: content-box, border-box;
  opacity: 1;

  &::after {
    content: "";
    position: absolute;
    inset: -4em;
    z-index: 1;
    mask-image: linear-gradient(#0000 0%, #000f 50%);
    backdrop-filter: blur(8px);
    pointer-events: none;
  }
}

header {
  margin: 0;
  padding: 0;
  height: 0;
  position: sticky;
  top: 10px;
  z-index: 100;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
  font-size: 0.75vw;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.192);
}

.logo {
  z-index: 1;
  position: absolute;
  opacity: 0;
  width: 12vw;
}

.zero {
  background: #000000;
  color: rgb(255, 255, 255);
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

#Terminal {
  white-space: pre;
  line-height: 1.5;
}
#Input {
  border: none;
  background: none;
  color: rgb(255, 255, 255);
  outline: none;
  font-family: monospace;
  text-align: center;
  width: 300px;
}
#Cursor {
  display: inline-block;
  width: 10px;
  background: rgb(255, 255, 255);
  animation: Blink 0.7s infinite;
  vertical-align: bottom;
}

@keyframes Blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  position: relative;
}

.wrapper1 {
  bottom: 18vh;
}
.wrapper2 {
  top: 18vh;
}

@keyframes scrollLeft {
  to {
    left: -20vw;
  }
}

@keyframes scrollRight {
  to {
    right: -20vw;
  }
}

.itemRight,
.itemLeft {
  position: absolute;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(15vw * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(15vw * 8), calc(100% + 15vw));
  animation-name: scrollRight;
}

.embed-wrapper {
  width: 16vw;
  height: 1px;
}
